.bg-img {
  background-image: url("../../images/main.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
 filter: grayscale(0.2);
 

  @media (max-width: 500px) {
    background-image: none #000;
  }
  .overflow{
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.82;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}

.banner-container {
  position: relative;
  @include flex;
  justify-content: center;
  width: 100%;
  h1 {
    font-family: $font-roman;
    color: $primary-banner;
    padding-bottom: 200px;
    font-size: 3rem;

    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }
  p {
    width: 70%;
  }

  
}
