.bg-img {
  background-image: url("../../images/main.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  @include flex;
  justify-content: center;
  filter: grayscale(0.2);

  @media (max-width: 500px) {
    background-image: none #000;
  }
}

.banner-container {
  @include flex;
  justify-content: center;
  width: 100%;
  h1 {
    font-family: $font-roman;
    color: $primary-banner;
    padding-bottom: 200px;
    font-size: 3rem;
  }
  p {
    width: 70%;
  }
}
