.bg-img{
    background-image: url("../../images/main.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    @include flex;
    justify-content: center;
}

.banner-container{
    @include flex;
    justify-content: center;

    h1{
        color: $primary-banner;
        padding-bottom: 200px; 
    }
}


.secondary-banner{
    h1{ 
        color: $secondary-banner;

    }

}