%button {
  border: none;
  background: $button-login;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: content-box;
  text-decoration: none;
}

.header {
  &-login{
    @extend %button;
    margin-right: 15px;
    background: $button-login-bg;
    outline: 1px solid $button-login;
    color: $button-login;
    &:hover {
      color: $button-login-bg;
      background-color: $button-login;
    }
  }

  &-cadastrar {
    @extend %button;
    color: $button-login-bg;
    &:hover {
      color: $button-login-bg;
      background-color: $button-login-hover;
    }
  }
}


.btn-product{
  @extend %button;
  color: #fff;
  background-image: linear-gradient( #DC2D2D, #850f0f); 
  transform: scale(0.9);

  &:hover{
    color: #fff;
    transform: scale(1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  }
  
}

.btn-buy{
  @extend %button;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  background-image: linear-gradient( #38da23, #38da23); 
  &:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  }
  
}

.btn-basket{
  @extend %button;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  background-image: linear-gradient( #0d6efd, #1062dd); 
  &:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  }
  

}
