.products-container{
    img{
      border-radius: 5px;
    }

    div{
        text-transform: capitalize;
    }
    td{
      border: none;
    }
  }

  .products {

    .table {
        min-height: 250px ;
        
    }
}