
@for $i from 1 through 200 {
    .p-#{$i} {
      padding: $i * 1px;
    }
    .py-#{$i} {
      padding: $i * 1px 0;
    }
    .px-#{$i} {
      padding: 0 $i * 1px;
    }
    .pl-#{$i} {
      padding-left: $i * 1px;
    }
    .pr-#{$i} {
      padding-right: $i * 1px;
    }
    .pt-#{$i} {
      padding-top: $i * 1px;
    }
    .pb-#{$i} {
      padding-bottom: $i * 1px;
    }
  }
  
  //-------margins
  @for $i from 1 through 200 {
    .m-#{$i} {
      margin: $i * 1px;
    }
    .my-#{$i} {
      margin: $i * 1px 0;
    }
    .mx-#{$i} {
      margin: 0 $i * 1px;
    }
    .ml-#{$i} {
      margin-left: $i * 1px;
    }
    .mr-#{$i} {
      margin-right: $i * 1px;
    }
    .mt-#{$i} {
      margin-top: $i * 1px;
    }
    .mb-#{$i} {
      margin-bottom: $i * 1px;
    }
  }