.errorInput{
    border-color: red;
    
}

.p-login{
    @include flex;
    justify-content: center;
    margin-top: 70px;
    min-height: 80vh;
}

.bg-login{
    background-color: $bg-form;
    border-radius: 5px;
}

.input{
    border: 1px solid rgb(24, 23, 23);
    width: 100%;
    border-radius: 3px;
    padding: 3px;


}

.login-title{
    color: $secondary-banner;
}

