.sidebar{
    height: 100vh;
    background-color: $sidebar-bg;
   
    .link{
    
    
        &-sidebar{
            text-decoration: none;
            color: $header-links;
            
    
            &:hover{
                color: $button-login-hover;
            }
        }
    }

}


.sidebarIcon{
    border-bottom: 1px solid white;
}





.mainSideBar{
    border-right: 1px solid black;
}
