.sidebar{
    height: 100vh;
    background-color: $sidebar-bg;
   
    .link{
        &-sidebar{
            text-decoration: none;
            color: $header-links;
            
    
            &:hover{
                color: $button-login-hover;
            }
        }
    }
    .active{
        color: rgb(95, 18, 15)
    }
}


.sidebarIcon{
    border-bottom: 1px solid white;
}





.mainSideBar{
    // border-right: 1px solid black;
}
